/*Color*/
$main-body: rgb(24, 24, 24);
$tint-body: rgb(45, 45, 45);
$main-red: rgba(184, 27, 27, 1);
$shade-red: rgba(79, 15, 15, 1);
$dark-black: rgb(15, 15, 15);
$tint-black: rgb(59, 59, 59);

body {
  background: $main-body;
  background: linear-gradient(90deg, $main-body 0%, $tint-body 50%);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: $dark-black;
}

body::-webkit-scrollbar-thumb {
  background: $main-red;
  border-radius: 50px;
}

.Empires-Header {
  height: 100px;
  padding-top: 0.1px;
}

.Empires-Header-title {
  width: 40%;
  height: 100%;
  margin-left: 5%;
}

.Empires-Header-Description {
  font-size: 23px;
  padding: 10px 40px;
  background: linear-gradient(90deg, $tint-body 0%, $main-body 50%);
  box-shadow: 3px 3px 20px $dark-black;
  border-radius: 5px;
  margin: 30px 0;
}

.Empires-Header-Nav {
  width: 50%;
  height: 100%;
}

.Empires-Header-Nav-Nav {
  margin-right: 10px;
  margin-top: 30px;
}

.Empires-Header-Nav-Nav-item {
  font-size: x-large;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  float: left;
}

.item-active {
  background: $main-red;
  border: solid $main-red 1px;
  box-shadow: 3px 3px 20px $dark-black;
}

.item-active a {
  color: white;
}

.item-inactive {
  background: transparent;
}

.item-inactive a {
  color: white;
}

.Empires-Title-Underline {
  border-top: solid $dark-black 5px;
  height: 1px;
  border-radius: 50px;
}

.Empires-Nav {
  width: 300px;
  height: 100%;
}

.Empires-Data {
  height: 600px;
  width: 50%;
}

.Empire-Data-Cont {
  width: 95%;
  height: 90%;
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Empire-Data-Cont::-webkit-scrollbar {
  width: 10px;
}

.Empire-Data-Cont::-webkit-scrollbar-track {
  background: $dark-black;
  border-radius: 50px;
}

.Empire-Data-Cont::-webkit-scrollbar-thumb {
  background: $main-red;
  border-radius: 50px;
}

.Empires-Data-details {
  height: 100px;
  font-size: large;
  padding: 10px;
}

.background-style {
  color: linear-gradient(90deg, grey 0%, darkgrey 100%);
}

.Empires-History {
  height: 700px;
  width: 90%;
}

.Empires-Quote-Divider {
  width: 100px;
  height: 70%;
  margin-top: 15%;
  float: left;
  border-left: dashed grey;
}

.Empires-Quote {
  width: 80%;
  margin: 0 auto;
  margin-top: 40%;
  font-size: 30px;
  color: grey;
}

.Empires-History-details {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  background: linear-gradient(180deg, $dark-black 0%, $tint-black 100%);
  overflow-y: scroll;
  box-shadow: 3px 3px 20px $dark-black;
  font-size: 160%;
  border-radius: 5px;
  overflow-x: hidden;
}

.Empires-History-details::-webkit-scrollbar {
  width: 10px;
}

.Empires-History-details::-webkit-scrollbar-track {
  background: $dark-black;
  border-radius: 50px;
}

.Empires-History-details::-webkit-scrollbar-thumb {
  background: $main-red;
  border-radius: 50px;
}

.Empires-History-details-title {
  padding: 5px;
  margin-left: 20px;
  height: 100px;
}

.Empires-History-details-title-title {
  display: inline-block;
}

.Empires-History-details-title-perc {
  display: inline-block;
  margin-left: 20px;
}

.historyCard-title {
  font-size: 150%;
}

.historyCard-pop {
  height: 300px;
}

.historyCard-pop-graph {
  height: 250px;
}

.historyCard-pop-details {
  height: 50px;
  margin-bottom: 20px;
}

.historyCard-pop-details-text {
  padding: 10px;
  font-size: smaller;
}

.Empires-History-details-map {
  width: 80%;
  height: 140px;
  border: solid white 0.5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Empires-History-details-map-map {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Empires-History-details-charts {
  height: 130px;
}

.Empires-History-details-charts-chart {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 50px;
}

.Empires-Chart-placeholder {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  border: 10px solid red;
  padding-top: 15%;
  font-size: x-large;
}

.Empires-History-details-details {
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
}

.Empires-History-details-details-text {
}

.about-article {
  margin-bottom: 60px;
  box-shadow: 3px 3px 20px $dark-black;
  border-radius: 5px;
  padding: 20px;
}

.red-article {
  background: linear-gradient(90deg, $shade-red 0%, $main-red 50%);
}

.dark-article {
  background: linear-gradient(90deg, $tint-body 0%, $main-body 50%);
}

#about {
  margin-top: 40px;
}

.article-half {
  height: 400px;
  margin: 50px 5%;
}

.article-text-box {
  margin: 20% 0;
}

.article-text {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.article-img {
  width: 50%;
  height: 100%;
}

.article-img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.contact-col {
  width: 50%;
}

.contact-header {
  text-align: center;
}

.contact-contact {
  margin-top: 50px;
}

.contact-contact-contact {
  font-size: 20px;
}

.contact-tech {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.contact-tech-tech {
  height: 33%;
  width: 100%;
}

.tech-logos {
  width: 90%;
  height: 100px;
  object-fit: contain;
  margin-top: 5%;
}
