/*Color*/
body {
  background: #181818;
  background: -webkit-gradient(linear, left top, right top, from(#181818), color-stop(50%, #2d2d2d));
  background: linear-gradient(90deg, #181818 0%, #2d2d2d 50%);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.Empires-Header {
  height: 100px;
  padding-top: 0.1px;
}

.Empires-Header-title {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  float: left;
}

.Empires-Header-Description {
  font-size: 23px;
  padding: 10px 40px;
  background: -webkit-gradient(linear, left top, right top, from(#2d2d2d), color-stop(50%, #181818));
  background: linear-gradient(90deg, #2d2d2d 0%, #181818 50%);
  -webkit-box-shadow: 3px 3px 20px #0f0f0f;
          box-shadow: 3px 3px 20px #0f0f0f;
}

.Empires-Header-Nav {
  width: 50%;
  height: 100%;
  float: left;
}

.Empires-Header-Nav-Nav {
  margin-right: 30px;
  margin-top: 30px;
}

.Empires-Header-Nav-Nav-item {
  float: left;
  font-size: x-large;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.item-active {
  background: #b81b1b;
  border: solid #b81b1b 1px;
  -webkit-box-shadow: 3px 3px 20px #0f0f0f;
          box-shadow: 3px 3px 20px #0f0f0f;
}

.item-active a {
  color: white;
}

.item-inactive {
  background: transparent;
}

.item-inactive a {
  color: white;
}

.Empires-Title-Underline {
  border-top: solid #0f0f0f 5px;
  height: 1px;
  border-radius: 50px;
}

.Empires-Nav {
  width: 300px;
  height: 100%;
}

.Empires-Data {
  height: 700px;
  width: 50%;
}

.Empire-Data-Cont {
  width: 95%;
  height: 90%;
  margin-top: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background-style {
  color: linear-gradient(90deg, grey 0%, darkgrey 100%);
}

.Empires-History {
  height: 700px;
  width: 50%;
}

.Empires-Quote-Divider {
  width: 100px;
  height: 70%;
  margin-top: 15%;
  float: left;
  border-left: dashed grey;
}

.Empires-Quote {
  width: 80%;
  margin: 0 auto;
  margin-top: 40%;
  font-size: 30px;
  color: grey;
  float: left;
}

.Empires-History-details {
  height: 90%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0f0f), to(#3b3b3b));
  background: linear-gradient(180deg, #0f0f0f 0%, #3b3b3b 100%);
  overflow-y: scroll;
  -webkit-box-shadow: 3px 3px 20px #0f0f0f;
          box-shadow: 3px 3px 20px #0f0f0f;
  font-size: 20px;
}

.Empires-History-details-title {
  padding: 5px;
  margin-left: 20px;
  height: 100px;
}

.Empires-History-details-title-title {
  float: left;
}

.Empires-History-details-title-perc {
  float: right;
  margin-right: 20px;
}

.Empires-History-details-map {
  width: 80%;
  height: 140px;
  border: solid white 0.5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Empires-History-details-map-map {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Empires-History-details-charts {
  height: 130px;
}

.Empires-History-details-charts-chart {
  width: 33%;
  height: 100%;
  float: left;
  margin-left: 50px;
}

.Empires-Chart-placeholder {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  border: 10px solid red;
  padding-top: 15%;
  font-size: x-large;
}

.Empires-History-details-details {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about-article {
  height: 500px;
  margin-bottom: 60px;
  -webkit-box-shadow: 3px 3px 20px #0f0f0f;
          box-shadow: 3px 3px 20px #0f0f0f;
}

.red-article {
  background: -webkit-gradient(linear, left top, right top, from(#4f0f0f), color-stop(50%, #b81b1b));
  background: linear-gradient(90deg, #4f0f0f 0%, #b81b1b 50%);
}

.dark-article {
  background: -webkit-gradient(linear, left top, right top, from(#2d2d2d), color-stop(50%, #181818));
  background: linear-gradient(90deg, #2d2d2d 0%, #181818 50%);
}

.article-half {
  width: 40%;
  height: 400px;
  margin: 50px 5%;
}

.article-text {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 100px;
}

.article-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-col {
  width: 50%;
  height: 500px;
}

.contact-header {
  text-align: center;
}

.contact-contact {
  margin-top: 50px;
}

.contact-contact-contact {
  font-size: 20px;
}

.contact-tech {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.contact-tech-tech {
  height: 33%;
  width: 100%;
}

.tech-logos {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 5%;
}
/*# sourceMappingURL=style.css.map */