/*Color*/
$main-body: rgb(24,24,24);
$tint-body: rgb(45,45,45);
$main-red: rgba(184,27,27,1);
$shade-red: rgba(79,15,15,1);
$dark-black:rgb(15,15,15);
$tint-black:rgb(59, 59, 59);

body{
    background: $main-body;
    background: linear-gradient(90deg, $main-body 0%, $tint-body 50%);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.Empires-Header{
    height: 200px;
    background: linear-gradient(90deg, $main-red 0%, $shade-red 100%);
    padding-top: 0.1px;
    box-shadow: 3px 3px 20px $dark-black;
}

.Empires-Header-title{
    width: 40%;
    height: 100%;
    margin-left: 5%;
    float: left;
}

.Empires-Header-Nav{
    width: 50%;
    height: 100%;
    float: left;
}

.Empires-Header-Nav-Nav{
    margin-right: 30px;
    margin-top: 30px;
}

.Empires-Header-Nav-Nav-item{
    float: left;
    font-size: x-large;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.item-active{
    background: $dark-black;
}

.item-inactive{
    background: transparent;
    border: solid $dark-black;
    color: $dark-black;
}

.Empires-Title-Underline{
    border-top: solid $dark-black 5px;
    height: 1px;
    border-radius:50px;
}

.Empires-Nav{
    width: 300px;
    height: 100%;
}

.Empires-Data{
    height: 700px;
    width:50%;
}

.Empires-History{
    height: 700px;
    width:50%;
}

.Empires-Quote-Divider{
    width: 100px;
    height: 70%;
    margin-top: 15%;
    float: left;
    border-left: dashed grey;
}

.Empires-Quote{
    width: 80%;
    margin: 0 auto;
    margin-top: 40%;
    font-size: 180%;
    color: grey;
    float: left;
}

.Empires-History-details{
    height: 90%;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    background: linear-gradient(180deg, $dark-black 0%, $tint-black 100%);
    overflow-y: scroll;
    box-shadow: 3px 3px 20px $dark-black;
}

.Empires-History-details-title{
    padding: 5px;
    margin-left: 20px;
    height: 100px;
}

.Empires-History-details-title-title{
    float:left;
}

.Empires-History-details-title-perc{
    float:right;
    margin-right: 20px;
}

.Empires-History-details-map{
    width: 80%;
    height: 140px;
    border: solid white 0.5px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Empires-History-details-map-map{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Empires-History-details-charts{
    height: 130px;
}

.Empires-History-details-charts-chart{
    width: 33%;
    height: 100%;
    float:left;
}

.Empires-Chart-placeholder{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    border: 10px solid red;
    padding-top: 15%;
    font-size: x-large;
}

.Empires-History-details-details{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}